/* ! ---------------------------------------- ( General Styles ) -------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400");
body {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
}

/* *---------------------------------- ( Notification Icon ) ----------------------------------* */
.notification-icon {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

/* Unread Badge (Red Dot) */
.unread-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 50%;
  font-weight: bold;
  display: none; /* Hidden by default */
}

/* Show unread badge only when there are notifications */
.unread-badge.active {
  display: inline-block;
}

/* *---------------------------------- ( Notification Panel ) ----------------------------------* */

.notification-panel {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 500px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 8px;
  padding-top: 35px;
  cursor: default;
  user-select: none;
}

.notification-panel.active {
  display: block;
}

.no_notifications_img {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

/* *---------------------------------- ( Loading Animation for Notification Panel ) ----------------------------------* */

.loader {
  width: fit-content;
  font-size: 50px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #a7a7a7;
  background: linear-gradient(-60deg, #0000 45%, #a7a7a7 0 55%, #0000 0) 0/300%
    100% no-repeat text;
  animation: l3 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
}
.loader:before {
  content: "Loading";
}
@keyframes l3 {
  0% {
    background-position: 100%;
  }
}

.loader-watermark {
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  color: #c2c2c2;
}
.loader-watermark:before,
.loader-watermark:after {
  content: "mdturzo.odoo.com";
  grid-area: 1/1;
  mask-size: 100% 5px, 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: l35-1 2s infinite;
}
.loader-watermark:before {
  mask-image: linear-gradient(#c2c2c2 0 0), linear-gradient(#c2c2c2 0 0);
}
.loader-watermark:after {
  mask-image: linear-gradient(#c2c2c2 0 0);
  animation: l35-1 2s infinite,
    l35-2 0.3s infinite cubic-bezier(0.5, 200, 0.5, -200);
}

@keyframes l35-1 {
  0% {
    -webkit-mask-position: 0 20px, 0 0;
  }
  20% {
    -webkit-mask-position: 0 8px, 0 0;
  }
  40% {
    -webkit-mask-position: 0 100%, 0 0;
  }
  60% {
    -webkit-mask-position: 0 3px, 0 0;
  }
  80% {
    -webkit-mask-position: 0 15px, 0 0;
  }
  100% {
    -webkit-mask-position: 0 0, 0 0;
  }
}
@keyframes l35-2 {
  100% {
    transform: translate(0.1px);
  }
}

/* *---------------------------------- ( Notification Header ) ----------------------------------* */
.notification-header {
  position: absolute;
  top: 0;
  width: 90%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  z-index: 2000;
}

.notification-header p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.notification-header button {
  background-color: #4958a3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.notification-header button:hover {
  background-color: #394686;
}

.notification-header button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.notification-header button.disabled:hover {
  background-color: #ccc;
}

/* *---------------------------------- ( Notification Styling ) ----------------------------------* */
.notification {
  display: flex;
  position: relative;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
  border-left: 4px solid #4958a3;
}

.notification:hover {
  background: rgba(73, 88, 163, 0.2);
  transition: background 0.1s;
}

.notification img {
  max-width: 55px;
  height: 40px;
  margin-right: 15px;
  border-radius: 4px;
}

.notification .content h6 {
  font-size: 16px;
  margin: 0;
  padding-right: 35px;
}

.notification .content p {
  font-size: 14px;
  margin: 2px 0 0;
  padding-right: 35px;
}

.notification .menu-toggle {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.notification .menu-toggle:hover {
  background-color: rgba(107, 143, 184, 0.2);
}

/* *---------------------------------- ( Menu Options ) ----------------------------------* */
.menu-options {
  display: none; /* Default state is hidden */
  position: absolute;
  width: 200px;
  top: 40px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1100;
  opacity: 0; /* Initially transparent */
  transform: translateY(-10px); /* Start with slight upward offset */
  transition: all 0.3s ease-in-out; /* Smooth opening/closing transition */
}

.menu-options.menu-open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.menu-options button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}

.menu-options button:hover {
  background: rgba(107, 143, 184, 0.2);
}

/* *---------------------------------- ( Pagination ) ----------------------------------* */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff50;
  width: 100%;
  padding-bottom: 5px;
  z-index: 2000;
}

.page-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: #ddd;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.page-btn:hover {
  background: #666;
  color: #fff;
}

.page-btn.active {
  background: #333;
  color: #fff;
  font-weight: bold;
}

#confirmationPopup {
  display: none;
  position: fixed;
  bottom: 20px; /* 20px from the bottom */
  left: 50%; /* Horizontally center */
  transform: translateX(-50%); /* Offset to truly center the element */
  background-color: #333;
  color: white;
  padding: 15px 30px; /* Adjusted padding for better design */
  border-radius: 8px; /* Slightly rounder corners */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Slightly larger shadow for depth */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-family: "Arial", sans-serif; /* More neutral font */
  font-size: 16px; /* Adjusted font size for better readability */
  max-width: 90%; /* Prevents popup from being too wide on smaller screens */
  text-align: center; /* Centers text inside the popup */
}

/* !---------------------------------- (Temporary object design) ----------------------------------* */

/* Banner */
.banner {
  background: url("https://i.ibb.co.com/9qbD7cL/image.png") no-repeat center
    center/cover;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}

#clearStorageBtn {
  margin-top: 8px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 14px;
}

#clearStorageBtn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

#clearStorageBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#clearStorageBtn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.websites {
  margin: 25px;
  text-align: center;
}

.websites h2 {
  margin-top: 15px;
}

.websites h2 a {
  color: #333;
  text-decoration: none;
}

.websites h2 a:hover {
  color: #222;
  text-decoration: underline;
}

.websites iframe {
  height: 400px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding-bottom: 25px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
}
